

p {
	

	color: red;
}


.Onglet#Anime{
	
	padding :8px;
	background-color : orange;
	
		
}

.Onglet#Jeux {
	
	padding :8px;
	background-color : orange;
		
}


.Onglet#Mangas {
	
	padding :8px;
	background-color : orange;
		
}
