

p {
	

	color: red;
}


.Anime {
	
	padding :8px;
	background-color : orange;
		
}

.Jeux {
	
	padding :8px;
	background-color : orange;
		
}


.Mangas {
	
	padding :8px;
	background-color : orange;
		
}
